@import "tailwindcss";

@theme {
  --color-accent: #FFB800;
  --color-accent-orange: #FF6B00;
  /* --color-accent-purple: #7800ff; */
  --font-sans: "Inter", "system-ui", "-apple-system", "sans-serif";
  --font-mono: "JetBrains Mono", "Fira Code", "monospace";
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-[#050507] text-white antialiased font-sans;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-900 rounded-full hover:bg-gray-800;
}

.gradient-text {
  @apply bg-gradient-to-br from-accent to-accent-orange bg-clip-text text-transparent;
}

.glass-card {
  @apply bg-white/5 border border-white/10 backdrop-blur-xl;
}
